/**
Civinode CSS definitions.


**/



/**
Profile display

Key classes: crm-profile -- whole container
             crm-profile-N -- profile container for profile N
             crm-profile-title  -- title of current profile
             crm-profile-item   -- any profile item
             crm-profile-item-NAME  -- named profile item


Rendering of HTML:
             For now, we use definition lists, until someone
             tells us a better way to do this.  No pride here,
             it's just that I have choose *something*

**/


div.crm-profile {
  width: 80%;
  text-align: left;
  position: relative; /** we are a container **/
  margin: 10px;
	border: black solid 1px;
}

.crm-profile table th.civinode-profile-header {
  width: 30%;
}

h2.crm-profile-title {
  background-color: white;
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: smaller;
}


.crm-profile dl {
  margin-left: 20px;
}


.crm-profile dt {
  margin-top: 5px;
  font-weight: bold;
}


.crm-profile dd {

}

